
  /* Form style */

  .form1{
    margin: 1rem;
  }
  .form1 input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #003249;
    border-radius: 4px;
    font-family: "Roboto", sans-serif !important;
  }

  .form1 input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #003249;
    border-radius: 4px;
  }

  .form1 input[type=date] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #003249;
    border-radius: 4px;
    font-family: "Roboto", sans-serif !important;
  }

  /*.form1 input[type=file] {*/
  /*  display: none;*/
  /*  border: 1px solid #ccc;*/
  /*  display: inline-block !important;*/
  /*  padding: 6px 12px;*/
  /*  cursor: pointer;*/
  /*}*/

  .custom-file-upload {

  }
  /*.form1 input[type=file] button{*/
  /*  width: 50%;*/
  /*  background-color: #d4a2a0;*/
  /*  padding: 6px 10px;*/
  /*  margin: 8px 0;*/
  /*}*/

  .form1 input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #003249;
    border: 2px solid #003249;
    border-radius: 4px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
  }

  textarea{
    width: 100%;
    border: 2px solid #003249;
    border-radius: 4px;
    margin: 8px 0;
    font-family: "Roboto", sans-serif !important;
  }
