
  /* Form style */

  .form1{
    margin: 1rem;
  }

  .form1 input[type=text],
  input[type=password],
  input[type=date],
  input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #003249;
    height: 2.2rem;
    padding-left: 3%;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
  }

  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .customLable{
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #003249;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 1rem;
    margin: 8px 0;
    box-sizing: border-box;
    height: 2.2rem;
    padding-left: 3%;
    padding: 12px 20px;
  }
  /*.form1 input[type=file] {*/
  /*  display: none;*/
  /*  border: 1px solid #ccc;*/
  /*  display: inline-block !important;*/
  /*  padding: 6px 12px;*/
  /*  cursor: pointer;*/
  /*}*/

  .custom-file-upload {

  }
  /*.form1 input[type=file] button{*/
  /*  width: 50%;*/
  /*  background-color: #d4a2a0;*/
  /*  padding: 6px 10px;*/
  /*  margin: 8px 0;*/
  /*}*/

  .form1 input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #003249;
    border: 2px solid #003249;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
  }

  textarea{
    width: 100%;
    border: 2px solid #003249;
    margin: 8px 0;
    font-family: 'Poppins', sans-serif !important;
  }

  .custom-font{
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #003249;
    height: 2.2rem;
    padding-left: 3%;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
    border-radius: unset;
  }