
    body{
        background-color: #E3F2F3;
        margin: 3rem;

    }
    h1{
        text-align: center;
        margin: 3rem;
        color: #003249;
        font-family: 'Josefin Sans', sans-serif;
    }

    h2{
        margin: 3rem;
        margin-bottom: 0rem !important;
        color: #003249;
        font-family: 'Josefin Sans', sans-serif;
    }

    li{
        margin-left: 3rem;
        font-family: 'Poppins', sans-serif !important;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    p{
        margin-left: 3rem;
        font-family: 'Poppins', sans-serif !important;
        font-size: 1.2rem;
        padding: 0.5rem;
        font-weight: bold;
    }