[class*="shadow-1"]{
    box-shadow: 0px 4px 2px gray;
}

[class*="shadow-2"] {
    box-shadow: 4px 4px 10px gray;
}

.card-align-center {
    margin: auto;
}

.card-align-right {
    float: right;
}

[class*="banner-"] {
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.banner-card{
    background-image: url("../../img/Manasa/banner-visitor.png");
    background-size: cover;
}

.banner-volunteer {
    background-image: url("../../img/Manasa/banner_volunteer.jpg");
    background-size: cover;
}

.normal-card{
    height: auto;
    padding:1vw;
    margin-bottom: 1vh;
}

.flex-card{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0.5vw;
}

.sg-card-img-1{
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-image: url("../../img/Manasa/quests/sg-2.jpg");
    background-size: cover;
    background-position: center;
}

.listDateCard{
    border-radius: 25px;
}

.listInfoCard{
    padding-left: 10px;
}

.imageTableCard {
    width: fit-content;
}


[class*="flex-div"] {
    padding: 1vw;
}    
/*Mobile view*/
@media only screen and (max-width: 600px){
    .flex-div{flex: 100%;}
}

/*Tablet view*/
@media only screen and (min-width: 600px){
    .flex-div{flex: 25%;}
}

.search-bar {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 1vh;
    background-color: transparent;
    backdrop-filter: grayscale(95%);
}

.search-bar:hover {
    background-color: white;
}

.list-card {
    margin-bottom: 2vh;
    border-radius: 20px;
}

.popup-card {
    display: none;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: auto;
}

.volunteer-event-card {
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 3vh;
    margin-left: 2vw;
    margin-right: 2vw;
}
