:root {
  font-size: 16px;
  font-family: sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  background-color: #f4f4f4;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* the main content */
.grid-container {
  display: grid;
  width: 1200px;
  grid-template-columns: 75% 25%;
  height: 85vh;
  column-gap: 10px;
}

.grid-item-01 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  /*grid-template-rows: 50% 50%;*/
}

.grid-item-02 {
  background-color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.card-common {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.appointments {
  height: 100%;
}

.appointments-card {
  /*margin: 0 10px;*/
  background-color: white;
  padding: 1rem 1.5rem;
  /*height: 85%;*/
  height: 100%;
}

.reports {
  height: 100%;
}

.reports-card {
  background-color: white;
  /*margin: 0 10px;*/
  padding: 1rem 1.5rem;
  height: 100%;
}

.single-notif-card {
  background-color: #23232e;
  color: white;
  font-size: 15px;
  padding: 5px;
  margin-top: 5px;
}

/* Support Group */

.support-groups {
  height: 100%;
}

.support-groups-card {
  background-color: white;
  /*margin: 0 10px;*/
  padding: 1rem 1rem;
  height: 100%;
}

.sg-card {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  color: black;
  padding: 0.5rem 0.5rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.sg-card-head {
  display: flex;
}

.sg-link {
  margin-left: auto;
  font-size: 0.7rem;
  padding: 3px 5px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  background-color: #003249;
  margin-right: 5px;
  margin-top: 3px;
  border-radius: 3px;
  transition: box-shadow 300ms;
}

.sg-link:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.sg-name {
  font-size: 1rem;
}

.sg-info {
  font-weight: 500;
}

.reports-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #003249;
}

.request-btn {
  font-family: "Poppins", sans-serif;
  padding: 2px 5px;
  font-size: 0.7rem;
  align-self: center;
  border: none;
  background-color: #607f8d;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}

/* SG Requests */
.no-request {
  font-family: "Poppins", sans-serif;
  margin: auto 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.sg-requests-card {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 100%;
}

.sg-request-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.sg-request-pending {
  margin-left: 15px;
  font-size: 0.65rem;
  padding: 3px 5px 0 5px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  background-color: #3754be;
  /* margin-right: 5px; */
  /* margin-top: 3px; */
  border-radius: 3px;
  transition: box-shadow 300ms;
}

/* Upcoming Appointments */

.upcoming-appointments-card {
  height: 100%;
  /*margin: 5px;*/
  padding: 5px;
  padding-top: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  /*height: 95%;*/
}

td {
  text-align: center;
  height: 35px;
  border-bottom: 0.5px solid #23232e;
}

th {
  height: 35px;
}

.table-head {
  background-color: #23232e;
  color: white;
}

.upcoming-sessions {
  width: 95%;
  align-self: center;
  margin-top: 1rem;
  border-collapse: collapse;
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

.b-radius-01 {
  border-radius: 2px 0px 0px 0px;
}

.b-radius-02 {
  border-radius: 0px 0px 0px 0px;
}

/* h3 {
  margin: 5px;
  margin-top: 10px;
  font-size: 30px;
} */

.main-card-head {
  display: flex;
  margin: 5px 0 10px 0;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #00acb7;
  margin-right: auto;
}

.calendar-card {
  padding-top: 1.5rem;
}

/* Calendar */

/* .calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  font-size: 0.7rem;
  column-gap: 5px;
  row-gap: 3px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  column-gap: 5px;
  row-gap: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  /* margin: 0 2.5rem; */
}

.calendar-day-hover {
  /* width: 30px; */
  /* height: 100%; */
  height: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  /* padding: 5px; */
  animation: to-top 1s forwards;
  /* background-color: #00bfc9; */
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.calendar-day-hover:hover {
  background-color: #23232e;
  color: white;
  /* border-radius: 50%; */
}

.curr-date {
  background-color: #494949;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  color: white;
}

.year-change {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#year {
  font-family: "Poppins", sans-serif;
}
