* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #03929b;
}

.main-grid-container {
  width: 1200px;
  display: grid;
  grid-template-columns: 50% 35%;
  column-gap: 5%;
  height: 75vh;
}

.grid-item-events {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.grid-item-callers {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.description-icon {
  height: 30px;
  width: 30px;
}

.event-heading {
  margin: 1rem 1rem;
}

.event-main-heading {
  font-size: 25px;
  font-weight: 700;
  color: #03929b;
}

.event-sub-heading {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.event-details {
  display: flex;
  align-items: center;
}

/*.event-card {
  !* display: grid;
  grid-template-columns: 1fr 4fr; *!
  font-family: "Poppins", sans-serif;
  padding: 1rem 0.5rem 1rem 0.5rem;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 1rem 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.card-image {
  display: flex;
  align-items: center;
  !* justify-content: center; *!
  !* background-color: aquamarine; *!
}

.event-image {
  margin-left: 10px;
}

.card-content {
  display: grid;
  grid-template-columns: 82% 18%;
  !*flex-direction: column;*!
  padding: 0 5px;
}

.event-title {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
}

.details-text {
  font-family: "Roboto", sans-serif;
  margin-left: 0.3rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-word;
}

.svg-image {
  margin-left: 0.5rem;
}

.details-description {
  display: flex;
  margin-top: 0.3rem;
}

.event-btn-set {
  display: flex;
  !*justify-content: space-around;*!
  flex-direction: column;
  padding-top: 5px;
}

.event-btn {
  width: 90px;
  margin-bottom: 0.2rem;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.view-event {
  color: #03929b;
}

.remove-event {
  color: #b40000;
}

.update-event {
  color: black;
}

.view-event:hover {
  color: white;
  background-color: #03929b;
  transition: background-color 1000ms linear;
}

.remove-event:hover {
  color: white;
  background-color: #b40000;
  transition: background-color 250ms linear;
}*/

/* caller requests */

.caller-card {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.4fr;
  background-color: #ffffff;
  height: 4rem;
  margin: 0 1rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-bottom: 10px;
}

.caller-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.caller-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caller-info {
  display: flex;
  align-items: center;
}

.caller-name {
  font-weight: 400;
}

.event-button-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /*width: 100%;*/
}

.remove-btn {
  border: none;
  width: 70px;
  height: 25px;
  color: #b40000;
  background: rgba(255, 3, 3, 0.44);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-right: 10px;
}

/* popup */

.event-card-container {
  display: grid;
  grid-template-columns: 90px 380px 80px;
  background-color: white;
  width: fit-content;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-left {
  width: auto;
  background-color:#2a265f;
}

.event-date {
  align-self: center;
}

.card-date-year, .card-date-month, .card-date-day {
  text-align: center;
  color: white;
}

.event-title, .event-time, .event-card-btn-set {
  margin-left: 15px;
}

.event-title {
  font-size: 1rem;
  margin-top: 5px;
}

.event-type-container {
  justify-content: center;
}

.event-type {
  margin-top: 5px;
  text-align: center;
}

.event-time {
  font-weight: 500;
}

.event-card-btn-set {
  margin-top: 5px;
  margin-bottom: 5px;
}

.event-card-common-btn {
  font-size: 0.7rem;
  width: 50px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  height: 25px;
  cursor: pointer;
}

.event-view-btn {
  color: #086D12;
  background-color: #B5FFB4;
}

.event-delete-btn {
  color: #930000;
  background-color: #FF3F3F;
  margin-left: 10px;
}

.event-type {
  border-radius: 3px;
  background-color: #5f82ff;
  color: white;
  width: fit-content;
  padding: 3px 3px;
}

.event-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
